@model blog.ViewModels.PostViewModel

  <div class="container my-5">

    <div class="d-inline mx-2">
      <h2 class="bg-light">@Model.Title</h2>
      <div style="position: absolute; right: 350px; top: 115px;">
      <a class="btn btn-outline-dark" href="/edit/@Model.Id">Edit</a> 
      </div>
    </div>
    @if(Model.Edited)
    {
      <span class="text-muted" >Edited</span>
    }
    @Html.Raw(Model.Content)
    <span class="text-muted" >@Model.CreatedAt.ToString("dd MMM yyy HH:mm")</span>
  </div>
