<div class="container my-5">
    <div id="title-editor">
    </div>

    <div id="editor">
    </div>

    <div align="right">
        <button class="btn btn-outline-dark">Publish</button>
    </div>
</div>